.ssh
.vagrant
/Stage/installBinaries/**/*.tar.gz
/Stage/Extracted
/Stage/installBinaries/**/*/.rpm
/Stage/installBinaries/**/*.jar
/Stage/installBinaries/**/*.el8.x86_64.rpm
/Stage/installBinaries/**/*.tar
/Stage/installBinaries/**/*.zip