.ssh
.vagrant
/Stage/installBinaries/**/*.tar.gz
/Stage/Extracted
/Stage/installBinaries/**/*/.rpm
/Stage/installBinaries/**/*.jar
/Stage/installBinaries/**/*.*.x86_64.rpm
/Stage/installBinaries/**/*.*.*.*.zip
/Stage/installBinaries/**/*.tar
/Stage/installBinaries/**/*.zip