.ssh
/Stage/installBinaries/Java/p30884160_180251_Linux-x86-64.zip
/Stage/installBinaries/OpenSource/Camel/apache-camel-3.5.0.tar.gz
/Stage/installBinaries/OpenSource/Eclipse/eclipse-java-2020-06-R-linux-gtk-x86_64.tar.gz
/Stage/installBinaries/OpenSource/Eclipse/eclipse-java-oxygen-3a-linux-gtk-x86_64.tar.gz
/Stage/installBinaries/OpenSource/Postman/Postman-linux-x64-7.33.1.tar.gz
/Stage/installBinaries/OpenSource/SoapUI/*.tar.gz
/Stage/installBinaries/RedHat/*.jar
/Stage/installBinaries/Oracle/Java/*.tar.gz
/Stage/installBinaries/OpenSource/AMQ_Artemis/apache-artemis-2.15.0-bin.tar.gz
/MiniShift/InstallBinary/*.exe
/Stage/Extracted
/Stage/installBinaries/RedHat/oc-3.11.286-linux.tar.gz
/Stage/installBinaries/Oracle/DB/20c/sqldeveloper-20.4.1.407.0006-no-jre.zip
/Stage/installBinaries/OpenSource/MySql/mysql-connector-java-8.0.23.tar.gz
/Stage/installBinaries/OpenSource/MySql/mysql-connector-java-8.0.23-1.el7.noarch.rpm
/Stage/installBinaries/OpenSource/MySql/mysql-workbench-community-8.0.23-1.el8.x86_64.rpm
/Stage/installBinaries/OpenSource/Qpid/apache-qpid-jms-0.51.0-bin.tar.gz
/Stage/installBinaries/RedHat/*.jar
/Stage/installBinaries/RedHat/*.tar
.vagrant
/Stage/installBinaries/Oracle/DB/**/*.zip
/Stage/installBinaries/Oracle/FMW/**/*.zip
