[Desktop Entry]
Encoding=UTF-8
Name=Netbeans
Exec=/app/opensource/netbeans-17/bin/netbeans
Icon=/app/opensource/netbeans-17/nb/netbeans.png
Terminal=false
Type=Application
Categories=Development

