[Desktop Entry]
Encoding=UTF-8
Name=JDeveloper 12c SOA QuickStart
Exec=~/bin/jdevsoa12c.sh
Icon=/app/oracle/product/jdeveloper/12214_SOAQS/jdeveloper/jdev_icon.gif
Terminal=false
Type=Application
Categories=Development