[Desktop Entry]
Encoding=UTF-8
Name=SoapUI 5.7.0
Exec=~/bin/soapui.sh
Icon=/app/opensource/SoapUI-5.7.0/soapui.ico
Terminal=false
Type=Application
Categories=Development

